body {
    background-color: black;
    font-family: "Arial", "Helvetica";
}

h1 {
    font-family: "Courier New";
    color: white;
}

#app {
    padding: 10px;
    height: 100%;
}

#shell {
    font-family: "Courier New";
    background-color: black;
    color: white;
    width: 80%;
}

#buttons {
    float: right;
    width: 200px;
}

#buttons label {
    color: white;
    text-align: center;
}

#buttons input {
    border: 0px;
}

#buttons button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #6aa7ff;
}

#buttons button:hover {
    background-color: #8cc9ff;
}